html, body, #wrapper {
        height: 100%;
        margin: 0px;
        padding: 0px
}

body {
	background-color: #eee;
}

#map-canvas {
    height: 80%;
    margin: 0px;
    padding: 0px
}

#search {
    position: absolute;
    top: 0;
    margin: 20px 97px;
}

.ScenesList
{
    overflow-x:scroll;
    overflow-y:hidden;
    height:200px;
    width:100%;
    padding: 0 15px;
	position: fixed;
	bottom: 0;
	background: rgba(204, 204, 204, 0.77);
	width: 100%;
}

.SceneItem {
    border:1px solid black;
    padding:0;
    height:200px;
}

.list-inline {
  white-space:nowrap;
}